name: Generate GitHub Stats

on:
  schedule:
    - cron: "0 2 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Generate Metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: NicoMartina
          template: classic
          base: activity, community, repositories
          config_timezone: Europe/Rome
          filename: assets/metrics.svg
