name: Generate GitHub Stats

on:
  schedule:
    - cron: "0 2 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Generate Metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: NicoMartina
          template: terminal
          base: activity, community, repositories
          config_timezone: Europe/Rome
        
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
        
          plugin_languages: yes
          plugin_languages_details: bytes-size, percentage
        
          plugin_streak: yes
          plugin_streak_days: 30
        
          filename: assets/metrics.svg

